<form id="8Form" method="post">
        <h3>8vos</h3>
            <div class="input-group">               
                <span class="input-group-text" id="q1" name="teamA" style="width: 30%;"></span>
                <input type="hidden" id='gameId' name="gameId" value="q1" />
                <input type="number" aria-label="First name" class="form-control"name="resA" id="q1" placeholder="1A">
                <input type="number" aria-label="Last name" class="form-control" name="resB" id="q1" placeholder="2B">
                <span class="input-group-text" id="q1" name="teamB" style="width: 30%;"></span>
            </div>
            <div class="input-group">               
                <span class="input-group-text" id="q2" name="teamA" style="width: 30%;"></span>
                <input type="hidden" id='gameId' name="gameId" value="q2" />
                <input type="number" aria-label="First name" class="form-control" name="resA" id="q2" placeholder="1C">
                <input type="number" aria-label="Last name" class="form-control" name="resB" id="q2" placeholder="2D">
                <span class="input-group-text" id="q2" name="teamB" style="width: 30%;"></span>
            </div>
            <div class="input-group">               
                <span class="input-group-text" id="q3" name="teamA" style="width: 30%;"></span>
                <input type="hidden" id='gameId' name="gameId" value="q3" />
                <input type="number" aria-label="First name" class="form-control" name="resA" id="q3" placeholder="1B">
                <input type="number" aria-label="Last name" class="form-control" name="resB" id="q3" placeholder="2A">
                <span class="input-group-text" id="q3" name="teamB" style="width: 30%;"></span>
            </div>
            <div class="input-group">               
                <span class="input-group-text" id="q4" name="teamA" style="width: 30%;"></span>
                <input type="hidden" id='gameId' name="gameId" value="q4" />
                <input type="number" aria-label="First name" class="form-control" name="resA" id="q4" placeholder="1D">
                <input type="number" aria-label="Last name" class="form-control" name="resB" id="q4" placeholder="2C">
                <span class="input-group-text" id="q4" name="teamB" style="width: 30%;"></span>
            </div>
            <div class="input-group">               
                <span class="input-group-text" id="q5" name="teamA" style="width: 30%;"></span>
                <input type="hidden" id='gameId' name="gameId" value="q5" />
                <input type="number" aria-label="First name" class="form-control" name="resA" id="q5" placeholder="1E">
                <input type="number" aria-label="Last name" class="form-control" name="resB" id="q5" placeholder="2F">
                <span class="input-group-text" id="q5" name="teamB" style="width: 30%;"></span>
            </div>
            <div class="input-group">               
                <span class="input-group-text" id="q6" name="teamA" style="width: 30%;"></span>
                <input type="hidden" id='gameId' name="gameId" value="q6" />
                <input type="number" aria-label="First name" class="form-control" name="resA" id="q6" placeholder="1G">
                <input type="number" aria-label="Last name" class="form-control" name="resB" id="q6" placeholder="2H">
                <span class="input-group-text" id="q6" name="teamB" style="width: 30%;"></span>
            </div>
            <div class="input-group">               
                <span class="input-group-text" id="q7" name="teamA" style="width: 30%;"></span>
                <input type="hidden" id='gameId' name="gameId" value="q7" />
                <input type="number" aria-label="First name" class="form-control" name="resA" id="q7" placeholder="1F">
                <input type="number" aria-label="Last name" class="form-control" name="resB" id="q7" placeholder="2E">
                <span class="input-group-text" id="q7" name="teamB" style="width: 30%;"></span>
            </div>
            <div class="input-group">               
                <span class="input-group-text" id="q8" name="teamA" style="width: 30%;"></span>
                <input type="hidden" id='gameId' name="gameId" value="q8" />
                <input type="number" aria-label="First name" class="form-control" name="resA" id="q8" placeholder="1H">
                <input type="number" aria-label="Last name" class="form-control" name="resB" id="q8" placeholder="2G">
                <span class="input-group-text" id="q8" name="teamB" style="width: 30%;"></span>
            </div>
    <div class="col-md-12">
        <button class="btn btn-success w-100" type="button" id="8vos">Enviar</button>
    </div>
</form>