<form id="gamesForm" method="post">
    {% csrf_token %}
    {% for ids in groupsIds %}
        <h3>Grupo {{ ids }}</h3>
        {% for game in games %}
            {% if game.gameId|slice:':1' == ids %} 
            <div class="input-group">               
                <span class="input-group-text" id="{{game.gameId}}" name="teamA" style="width: 20%;">{{ game.teamA }}</span>
                <input type="hidden" id='gameId' name="gameId" value="{{game.gameId}}" />
                <input type="number" aria-label="First name" class="form-control" name="resA" id="{{game.gameId}}">
                <input type="number" aria-label="Last name" class="form-control" name="resB" id="{{game.gameId}}">
                <span class="input-group-text" id="{{game.gameId}}" name="teamB" style="width: 20%;">{{ game.teamB }}</span>
            </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    <div class="col-md-12">
        <button class="btn btn-success w-100" type="button" data-toggle="modal" data-target="#myModal" >Enviar</button>
    </div>
</form>