<form id="4Form" method="post">
    <h3>4tos</h3>
        <div class="input-group">               
            <span class="input-group-text" id="q9" name="teamA" style="width: 30%;"></span>
            <input type="hidden" id='gameId' name="gameId" value="q9" />
            <input type="number" min="0" class="form-control" name="resA" id="q9" placeholder="W1">
            <input type="number" min="0"  class="form-control" name="resB" id="q9" placeholder="W2">
            <span class="input-group-text" id="q9" name="teamB" style="width: 30%;"></span>
            <div class="col-sm">
                <select id="q9-select" name="winner" style="visibility: hidden;"></select>
            </div>
        </div>
        <div class="input-group">               
            <span class="input-group-text" id="q10" name="teamA" style="width: 30%;"></span>
            <input type="hidden" id='gameId' name="gameId" value="q10" />
            <input type="number" min="0"  class="form-control" name="resA" id="q10" placeholder="W5" required>
            <input type="number" min="0"  class="form-control" name="resB" id="q10" placeholder="W6" required>
            <span class="input-group-text" id="q10" name="teamB" style="width: 30%;"></span>
            <div class="col-sm">
                <select id="q10-select" name="winner" style="visibility: hidden;"></select>
            </div>
        </div>
        <div class="input-group">               
            <span class="input-group-text" id="q11" name="teamA" style="width: 30%;"></span>
            <input type="hidden" id='gameId' name="gameId" value="q11" />
            <input type="number" min="0" class="form-control" name="resA" id="q11" placeholder="W3" required>
            <input type="number" min="0" class="form-control" name="resB" id="q11" placeholder="W4" required>
            <span class="input-group-text" id="q11" name="teamB" style="width: 30%;"></span>
            <div class="col-sm">
                <select id="q11-select" name="winner" style="visibility: hidden;"></select>
            </div>
        </div>
        <div class="input-group">               
            <span class="input-group-text" id="q12" name="teamA" style="width: 30%;"></span>
            <input type="hidden" id='gameId' name="gameId" value="q12" />
            <input type="number" min="0" class="form-control" name="resA" id="q12" placeholder="W7" required>
            <input type="number" min="0" class="form-control" name="resB" id="q12" placeholder="W8" required>
            <span class="input-group-text" id="q12" name="teamB" style="width: 30%;"></span>
            <div class="col-sm">
                <select id="q12-select" name="winner" style="visibility: hidden;"></select>
            </div>
        </div>
<div class="col-md-12">
    <button class="btn btn-success w-100" type="button" id="4tos">Calcular semi</button>
</div>
</form>