<form id="8Form" method="post">
        <h3>8vos</h3>
            <div class="input-group">               
                <span class="input-group-text" id="q1" name="teamA" style="width: 30%;"></span>
                <input type="hidden" id='gameId' name="gameId" value="q1" />
                <input type="number" min="0" class="form-control"name="resA" id="q1" style="width: 10%;" placeholder="1B" required>
                <input type="number" min="0" class="form-control" name="resB" id="q1" style="width: 10%;" placeholder="3ADEF" required>
                <span class="input-group-text" id="q1" name="teamB" style="width: 30%;"></span>
                <div class="col-sm">
                    <select id="q1-select" name="winner" style="visibility: hidden;"></select>
                </div>
            </div>
            <div class="input-group">               
                <span class="input-group-text" id="q2" name="teamA" style="width: 30%;"></span>
                <input type="hidden" id='gameId' name="gameId" value="q2" />
                <input type="number" min="0" class="form-control" name="resA" id="q2" style="width: 10%;" placeholder="1A" required>
                <input type="number" min="0" class="form-control" name="resB" id="q2" style="width: 10%;" placeholder="2C" required>
                <span class="input-group-text" id="q2" name="teamB" style="width: 30%;"></span>
                <div class="col-sm">
                    <select id="q2-select" name="winner" style="visibility: hidden;"></select>
                </div>
            </div>
            <div class="input-group">               
                <span class="input-group-text" id="q3" name="teamA" style="width: 30%;"></span>
                <input type="hidden" id='gameId' name="gameId" value="q3" />
                <input type="number" min="0" class="form-control" name="resA" id="q3" style="width: 10%;" placeholder="1F" required>
                <input type="number" min="0" class="form-control" name="resB" id="q3" style="width: 10%;" placeholder="3ABC" required>
                <span class="input-group-text" id="q3" name="teamB" style="width: 30%;"></span>
                <div class="col-sm">
                    <select id="q3-select" name="winner" style="visibility: hidden;"></select>
                </div>
            </div>
            <div class="input-group">               
                <span class="input-group-text" id="q4" name="teamA" style="width: 30%;"></span>
                <input type="hidden" id='gameId' name="gameId" value="q4" />
                <input type="number" min="0" class="form-control" name="resA" id="q4" style="width: 10%;" placeholder="2D" required>
                <input type="number" min="0" class="form-control" name="resB" id="q4" style="width: 10%;" placeholder="2E" required>
                <span class="input-group-text" id="q4" name="teamB" style="width: 30%;"></span>
                <div class="col-sm">
                    <select id="q4-select" name="winner" style="visibility: hidden;"></select>
                </div>
            </div>
            <div class="input-group">               
                <span class="input-group-text" id="q5" name="teamA" style="width: 30%;"></span>
                <input type="hidden" id='gameId' name="gameId" value="q5" />
                <input type="number" min="0" class="form-control" name="resA" id="q5" style="width: 10%;" placeholder="1E" required>
                <input type="number" min="0" class="form-control" name="resB" id="q5" style="width: 10%;" placeholder="3ABCD" required>
                <span class="input-group-text" id="q5" name="teamB" style="width: 30%;"></span>
                <div class="col-sm">
                    <select id="q5-select" name="winner" style="visibility: hidden;"></select>
                </div>
            </div>
            <div class="input-group">               
                <span class="input-group-text" id="q6" name="teamA" style="width: 30%;"></span>
                <input type="hidden" id='gameId' name="gameId" value="q6" />
                <input type="number" min="0" class="form-control" name="resA" id="q6" style="width: 10%;" placeholder="1D" required>
                <input type="number" min="0" class="form-control" name="resB" id="q6" style="width: 10%;" placeholder="2F" required>
                <span class="input-group-text" id="q6" name="teamB" style="width: 30%;"></span>
                <div class="col-sm">
                    <select id="q6-select" name="winner" style="visibility: hidden;"></select>
                </div>
            </div>
            <div class="input-group">               
                <span class="input-group-text" id="q7" name="teamA" style="width: 30%;"></span>
                <input type="hidden" id='gameId' name="gameId" value="q7" />
                <input type="number" min="0" class="form-control" name="resA" id="q7" style="width: 10%;" placeholder="1C" required>
                <input type="number" min="0" class="form-control" name="resB" id="q7" style="width: 10%;" placeholder="3DEF" required>
                <span class="input-group-text" id="q7" name="teamB" style="width: 30%;"></span>
                <div class="col-sm">
                    <select id="q7-select" name="winner" style="visibility: hidden;"></select>
                </div>
            </div>
            <div class="input-group">               
                <span class="input-group-text" id="q8" name="teamA" style="width: 30%;"></span>
                <input type="hidden" id='gameId' name="gameId" value="q8" />
                <input type="number" min="0" class="form-control" name="resA" id="q8" style="width: 10%;" placeholder="2A" required>
                <input type="number" min="0" class="form-control" name="resB" id="q8" style="width: 10%;" placeholder="2B" required>
                <span class="input-group-text" id="q8" name="teamB" style="width: 30%;"></span>
                <div class="col-sm">
                    <select id="q8-select" name="winner" style="visibility: hidden;"></select>
                </div>
            </div>
    <div class="col-md-12" style="margin : 10px auto;">
        <button class="btn btn-success w-100" type="button" id="8vos">Calcular 4tos</button>
    </div>
</form>