<form id="semiForm" method="post">
    <h3>Semi-Final</h3>
        <div class="input-group">               
            <span class="input-group-text" id="semi1" name="teamA" style="width: 30%;"></span>
            <input type="hidden" id='gameId' name="gameId" value="semi1" />
            <input type="number" min="0"  class="form-control" name="resA" id="semi1" placeholder="W-IV3" required>
            <input type="number" min="0" class="form-control" name="resB" id="semi1" placeholder="W-IV4" required>
            <span class="input-group-text" id="semi1" name="teamB" style="width: 30%;"></span>
            <div class="col-sm">
                <select id="semi1-select" name="winner" style="visibility: hidden;"></select>
            </div>
        </div>
        <div class="input-group">               
            <span class="input-group-text" id="semi2" name="teamA" style="width: 30%;"></span>
            <input type="hidden" id='gameId' name="gameId" value="semi2" />
            <input type="number" min="0" class="form-control" name="resA" id="semi2" placeholder="W-IV1" required>
            <input type="number" min="0" class="form-control" name="resB" id="semi2" placeholder="W-IV2" required>
            <span class="input-group-text" id="semi2" name="teamB" style="width: 30%;"></span>
            <div class="col-sm">
                <select id="semi2-select" name="winner" style="visibility: hidden;"></select>
            </div>
        </div>
<div class="col-md-12">
    <button class="btn btn-success w-100" type="button" id="semi">Calcular final</button>
</div>
</form>