{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
          <div class="card o-hidden border-0 shadow-lg my-5">
              <div class="card-body p-0">
                  <!-- Nested Row within Card Body -->
                  <div class="row">
                        <img src="https://i.imgur.com/NiqpOx4.png" style="width: 100%;"/>
                  </div>
              </div>
          </div>

      </div>

  </div>

</div>
{% load static %}
{% endblock %}