<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            {% csrf_token %}
                            <h1 class="h4 text-gray-900 mb-4">{{ user.username }}</h1>
                            <div class="card" style="margin: 5%">

                                <!-- Card image -->
                                <img class="card-img-top" src="https://cms.somosfanaticos.com/__export/1662233169975/sites/fanaticos/img/2022/09/03/qatar_logo_fifa_crop1662233169506.jpg_1624932088.jpg" alt="Card image cap">
                              
                                <!-- Card content -->
                                <div class="card-body">
                              
                                  <!-- Title -->
                                  <h4 class="card-title"><a>Torneos</a></h4>
                                  <!-- Text -->
                                  <p class="card-text">
                                    {% for quinielas in famtournament %}
                                        <p>{{ quinielas.name }}</p>
                                    {% endfor %}
                                    </p>
                                  <!-- Button -->
                                  <a href="#" class="btn btn-primary">Go</a>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>